@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
    <!-- Content -->
    <main class="container py-5">
        <h4>Velkommen</h4>
        <p class="lead">En ren og moderne Umbraco-løsning med Bootstrap.</p>
        <a href="/produktside" class="btn btn-primary mt-3 px-5">Se Produkter</a>
    </main>

